<nav>
  <div class="site-title">
    <a href="/"><h1>Preguntas</h1></a>
    <p>Las preguntas van y vienen pero las ideas no se detienen</p>
  </div>
  <ul>
    <li><a href="/">Preguntas</a></li>
    <li><a href="/crear">Crear nueva pregunta</a></li>
  </ul>
</nav>