<nav>
  <div class="site-title">
    <a href="/"><h1>Usuarios</h1></a>
    <p>Las Usuarios van y vienen pero las ideas no se detienen</p>
  </div>
  <ul>
    <li><a href="/">Usuarios</a></li>
    <li><a href="/crear">Crear nuevo usuario</a></li>
  </ul>
</nav>