<nav>
  <div class="site-title">
    <a href="/"><h1>Tests</h1></a>
    <p>Las preguntas van y vienen pero las ideas no se DETIENEN</p>
  </div>
  <ul>
    <li><a href="/">Tests</a></li>
    <li><a href="/crear">Crear Nuevo</a></li>
  </ul>
</nav>