<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="blogs content">
    <h2>You look lost</h2>
    <p>Aren't you?</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>