<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="blogs content">
    <form action="/api/tests" method="POST">
        <fieldset>
            <legend>Crea un usuario</legend><br>
            <label for="name">Nombre</label>
            <input type="text" name="nombre" id="nombre"><br>
            <label for="name">Password</label>
            <input type="text" name="password" id="password"><br>
            <label for="name">Edad</label>
            <input type="text" name="age" id="age"><br>
            <label for="name">Email</label>
            <input type="number" name="email" id="email"><br>
            
            <input type="submit" value="Crear usuario">
        </fieldset>
    </form>
  </div>
  <script>
    
      document.getElementById("age").defaultValue = "0";
    </script
    
  <%- include("./partials/footer.ejs") %>
</body>
</html>